


<div class="scrollable">
 <div class="container">


  <h1 class="mb-4 text-4xl font-bold leading-none tracking-tight text-white-900 md:text-5xl lg:text-6xl dark:text-white">History</h1>

    <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">

      <ol class="divide-y divider-gray-200 dark:divide-gray-700">
          <li>
            <a href="#" class="items-center block p-3 sm:flex hover-effect">

                  <div class="text-gray-600 dark:text-gray-400">
                    <time class="text-lg font-semibold text-gray-900 dark:text-white">12/05/24, Sunday</time>
                      <div class="text-base font-normal"><span class="font-medium text-gray-900 dark:text-white">Penanggungan, Kec. Klojen, Kota Malang, Jawa Timur.</span>
                        <span class="font-medium text-gray-900 dark:text-white"></span> <span class="font-medium text-gray-900 dark:text-white"> </span></div>
                  </div>
              </a>

          </li>
      </ol>
    </div>

    <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">

      <ol class="divide-y divider-gray-200 dark:divide-gray-700">
          <li>
            <a href="#" class="items-center block p-3 sm:flex hover-effect">

                  <div class="text-gray-600 dark:text-gray-400">
                    <time class="text-lg font-semibold text-gray-900 dark:text-white">12/05/24, Sunday</time>
                      <div class="text-base font-normal"><span class="font-medium text-gray-900 dark:text-white">Penanggungan, Kec. Klojen, Kota Malang, Jawa Timur.</span>
                        <span class="font-medium text-gray-900 dark:text-white"></span> <span class="font-medium text-gray-900 dark:text-white"> </span></div>
                  </div>
              </a>

          </li>
      </ol>
    </div>

    <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">

      <ol class="divide-y divider-gray-200 dark:divide-gray-700">
          <li>
            <a href="#" class="items-center block p-3 sm:flex hover-effect">

                  <div class="text-gray-600 dark:text-gray-400">
                    <time class="text-lg font-semibold text-gray-900 dark:text-white">12/05/24, Sunday</time>
                      <div class="text-base font-normal"><span class="font-medium text-gray-900 dark:text-white">Penanggungan, Kec. Klojen, Kota Malang, Jawa Timur.</span>
                        <span class="font-medium text-gray-900 dark:text-white"></span> <span class="font-medium text-gray-900 dark:text-white"> </span></div>
                  </div>
              </a>

          </li>
      </ol>
    </div>

    <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">

      <ol class="divide-y divider-gray-200 dark:divide-gray-700">
          <li>
            <a href="#" class="items-center block p-3 sm:flex hover-effect">

                  <div class="text-gray-600 dark:text-gray-400">
                    <time class="text-lg font-semibold text-gray-900 dark:text-white">12/05/24, Sunday</time>
                      <div class="text-base font-normal"><span class="font-medium text-gray-900 dark:text-white">Penanggungan, Kec. Klojen, Kota Malang, Jawa Timur.</span>
                        <span class="font-medium text-gray-900 dark:text-white"></span> <span class="font-medium text-gray-900 dark:text-white"> </span></div>
                  </div>
              </a>

          </li>
      </ol>
    </div>

    <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">

      <ol class="divide-y divider-gray-200 dark:divide-gray-700">
          <li>
            <a href="#" class="items-center block p-3 sm:flex hover-effect">

                  <div class="text-gray-600 dark:text-gray-400">
                    <time class="text-lg font-semibold text-gray-900 dark:text-white">12/05/24, Sunday</time>
                      <div class="text-base font-normal"><span class="font-medium text-gray-900 dark:text-white">Penanggungan, Kec. Klojen, Kota Malang, Jawa Timur.</span>
                        <span class="font-medium text-gray-900 dark:text-white"></span> <span class="font-medium text-gray-900 dark:text-white"> </span></div>
                  </div>
              </a>

          </li>
      </ol>
    </div>

    <div class="p-5 mb-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">

      <ol class="divide-y divider-gray-200 dark:divide-gray-700">
          <li>
            <a href="#" class="items-center block p-3 sm:flex hover-effect">

                  <div class="text-gray-600 dark:text-gray-400">
                    <time class="text-lg font-semibold text-gray-900 dark:text-white">12/05/24, Sunday</time>
                      <div class="text-base font-normal"><span class="font-medium text-gray-900 dark:text-white">Penanggungan, Kec. Klojen, Kota Malang, Jawa Timur.</span>
                        <span class="font-medium text-gray-900 dark:text-white"></span> <span class="font-medium text-gray-900 dark:text-white"> </span></div>
                  </div>
              </a>

          </li>
      </ol>
    </div>

  </div>

</div>
