.container{
    width: 100vw;  /* Lebar penuh layar */
    height: 100vh;
    background-color: #22d3ee;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.title{
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    color: #fff;
    flex-direction: column;
    padding: 20px;
  }

.title{
    // z-index: 9;
    font-size: 40px;   
    font-weight: 600;
    text-align: center;
  }

.title h2{
    // z-index: 9;
    font-size: 18px;
    margin-top: 28rem;
    font-weight: 400;
  }