<ion-content [fullscreen]="true">
  <!-- Back Button -->
  <button type="button" [routerLink]="['/home']" class="p-4 pb-0 pt-8 inline-flex font-medium items-center text-gray-800 hover:underline" style="margin-bottom: 1rem;">
    <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
    </svg>
    About
  </button>
  
  <div class="flex flex-col gap-4 p-4 ">
    <h1 class=" text-2xl font-semibold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">What is <mark class="px-2 text-white bg-cyan-400 rounded dark:bg-blue-500">E-Byke?</mark></h1>
    <p class="text-base text-gray-500">Welcome to E-Byke, the ultimate electric motorcycle rental platform designed for convenience, sustainability, and innovation. With E-Byke, you can effortlessly book electric motorcycles and locate nearby battery replacement stations using our intuitive map feature. Our mission is to revolutionize urban mobility by providing an eco-friendly transportation solution that's both reliable and affordable. Whether you're commuting to work, exploring the city, or running errands, E-Byke empowers you to travel smart and contribute to a greener future. Join us on this journey towards sustainable transportation!</p>
    <div>
      <h1 class="text-2xl font-semibold mb-5">Meet the Team!</h1>
      <div class="w-[100%] max-w-sm bg-white rounded-lg flex gap-11 justify-center">
        <div class="flex flex-col items-center pb-8">
            <img class="w-36 h-36 mb-3 rounded-full shadow-lg" src="../../assets/icon/della.jpg" alt="Bonnie image"/>
            <h5 class="mb-1 text-l font-medium text-gray-900 dark:text-white">Della Yunia Putri</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">2602196864
            </span>
        </div>
        <div class="flex flex-col items-center pb-10">
            <img class="w-36 h-36 mb-3 rounded-full shadow-lg" src="../../assets/icon/eileen.JPG" alt="Bonnie image"/>
            <h5 class="mb-1 text-l font-medium text-gray-900 dark:text-white">Eileen Anindya</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">2602189921
            </span>
        </div>
      </div>     
        
      <div class="w-[100%] max-w-sm bg-white rounded-lg flex gap-11 justify-center">
        <div class="flex flex-col items-center pb-8">
          <img class="w-36 h-36 mb-3 rounded-full shadow-lg" src="../../assets/icon/firsa.jpg" alt="Bonnie image"/>
          <h5 class="mb-1 text-l font-medium text-gray-900 dark:text-white">Firsa Anata M.</h5>
          <span class="text-sm text-gray-500 dark:text-gray-400">2602183376</span>
        </div>

        <div class="flex flex-col items-center pb-10">
          <img class="w-36 h-36 mb-3 rounded-full shadow-lg" src="../../assets/icon/monica.jpg" alt="Bonnie image"/>
          <h5 class="mb-1 text-l font-medium text-gray-900 dark:text-white">Monica Wahyu S.</h5>
          <span class="text-sm text-gray-500 dark:text-gray-400">2602187481</span>
      </div>
      </div>
    </div>
  </div>
</ion-content>
