<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Maps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">




  <div id="mapId" style="height: 100%; width: 100%;">

  </div>



  <div class="mx-auto bg-white rounded-lg shadow-md p-4">
    <!-- Lokasi Asal & Tujuan -->

<a href="#" class="flex block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-3">
  <ion-icon name="radio-button-on" style="color: #68D2E8; margin-right: 6px;"></ion-icon>

  <p class="font-normal text-gray-700 dark:text-gray-400">Jl. Kendalsari No.06, Jatimulyo, Kec. Lowokwaru, Kota Malang, Jawa Timur.</p>
  </a>

  <a href="#" class="flex block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-5">
    <ion-icon name="location" style="color: #FDDE55; margin-right: 6px;"></ion-icon>
    <p class="font-normal text-gray-700 dark:text-gray-400">Jl. Kendalsari No.06, Jatimulyo, Kec. Lowokwaru, Kota Malang, Jawa Timur.</p>
    </a>

    <!-- Durasi -->
    <p class="text-gray-400 text-sm mb-2"></p>

    <!-- Harga & Tombol -->
    <div class="flex justify-between items-center bg-harga text-white px-4 py-2 rounded-lg">
        <span class="text-xl font-bold">Rp50.000,00</span>
        <button type="button" class="focus:outline-none text-white bg hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-bold rounded-lg text-sm px-5 py-2.5 me-2 mb-0 dark:focus:ring-yellow-900">
          Payment</button>
    </div>
</div>


</ion-content>
